<!DOCTYPE html>
<html>
    <head lang="fr">
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
        <title>Fléron — Out Of Office</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="main">
            <header>
                <div id="title">
                    <a href="#"><img src="/static/img/logo.png" alt="Logo de la Commune de Fléron" /></a>
                    <h1>Réponse automatique</h1>
                </div>
            </header>
            <main>
                <h2>Formulaire envoyé</h2>
                <p>Toute l'équipe du service informatique vous souhaite de <span class="accent">belles vacances</span> !</p>
            </main>
            <footer>
                <p>Commune de Fléron - Service TIC</p>
                <p>En cas de problème avec le formulaire, merci d'utiliser les <a href="https://bugs.fleron.be" target="_blank">tickets</a>.</p>
            </footer>
        </div>
    </body>
</html>
